{% extends 'layout/base.html.twig' %}

{% block content %}

    <header class="header">
        <div class="heading-primary">
            <h1 class="heading-primary--main">Archives Manuscrit</h1>
        </div>
    </header>

    <div class="js-toggle-admin">
        <div class="cover__wrapper">
            {% for manuscript in manuscripts %}                
                <div class="cover" style="background-image: url('./build/cover/{{ manuscript.cover }}">
                    <div class="cover__title">
                        {{ manuscript.title }}
                    </div>
                    <div class="cover__thumbnail">
                    {# <img src="./build/{{ manuscript.cover }}"> #}
                    {# <p>/{{ manuscript.cover }}</p> #}
                    </div>
                    <a class="cover__link" href="{{ path('details_manuscript', { id: manuscript.id } ) }}">Detail</a>
                    <a>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="js-toggle-admin" style="display:none;">
        {% for manuscript in manuscripts %}
            {{ manuscript.title }}
            <a href="{{ path('details_manuscript', { id: manuscript.id } ) }}"><button>Detail</button></a>
            <a href="{{ path('manuscript_delete', {id: manuscript.id}) }}"><button>Remove</button></a>
            <a href="{{ path('update_manuscript', {id: manuscript.id}) }}"><button>Update</button></a>
        {% endfor %}

        <div>
            <a class="" href="{{ path('manuscript_admin_create') }}"><button>Créer un nouveau manuscript</button></a>
        </div>
    </div>

    <button class="js-toggle-admin-button">Changer vers l'admin</button> 

{% endblock %}
