{% extends 'layout/immersion.html.twig' %}

{% block content %}

    {% include 'parts/headerImmersion.html.twig' %}

    {% if (app.user and app.user.id == manuscript.author.user.id or is_granted('ROLE_ADMIN')) %}
        <div class="edit-switch">
            <p>Editing is off / Switch</p>
        </div>
    {% endif %}

    <div class="section-edit-popin" style="display:none;">
        <div class="form">
        <div class="close-popin btn--primary btn--white">Fermer</div>
            <h4> Nouvelle valeur : </h4>
            <textarea rows="20" cols="70"/></textarea>
            <button class="save-popin-editor btn--primary btn--white">Sauvegarder</button>
        </div>
    </div>

    <section class="section section-cover parallax" style="background-image: url('../build/cover/{{ manuscript.cover }}">

        <div class="section-cover__title-box">
            <h1 class="title">
                <span class="title--main editable-new title-edit">{{ manuscript.title }}</span>
                <span class="title--sub editable-new sub-title-edit">{{ manuscript.subtitle }}</span>
            </h1>
            <a href="#" class="btn btn--primary btn--yellow btn--animated-b">Commencer la lecture</a>
        </div>
    </section>

    {# 4eme de couverture #}
    <section class="section section-fourth-cover">
        <h2 class="">4eme de couverture</h2>
        <p class="editable-new 4eme-de-couv fourth-cover-edit">
           {{ manuscript.fourthCover }}
        </p>
    </section>

    {# Meta story #}
    <section class="section section-meta-story">
        <h2 class="">Un brin de méta-histoire</h2>
        <p class="editable-new meta-histoire storyTelling-edit">
            {{ manuscript.storyTelling }}
        </p>
    </section>

    {# Option de l'éditeur #}
    <section class="section section-editor-option">
        {# Liste de conseil #}
        {# Liste Choisir les couleurs primaire et secondaire #}
        {# Pour mieux naviguer dans l'arborescence du livre, désactivé le mode édition, ou bien cliquez sur le coin des étiquettes acte, chapitres etc... #}
    </section>

    <section class="section-breadcrumb">

        <div class="breadcrumb">

            {# Ligne des actes #}
            <div class="breadcrumb__line act__line">
                {# le tag svg en début de ligne  #}
                <img class="breadcrumb__svg" src="{{ asset('./build/svg/acte.svg') }}">
                {# tous les actes sur une ligne #}
                <div class="breadcrumb__list breadcrumb__list-act">
                    {# Contiend la liste des actes #}
                    {% for act in manuscript.acts %}
                        <div class="breadcrumb__item act__item">
                            <p data-act-id="{{ act.id }}" class="editable-new acte-edit">{{ act.title }}</p>
                        </div>
                    {% endfor %}
                    {# Le bouton d'ajout d'acte en fin de ligne #}
                    <div style="display:none;" class="add_act add_element breadcrumb__item">+</div>
                </div>
            </div>

            {# Ligne des chapitres #}
            <div class="breadcrumb__line chapter__line">
                {# le tag svg en début de ligne  #}
                <img class="breadcrumb__svg" src="{{ asset('./build/svg/chapter.svg') }}">
                {# tous les chapitre sur une ligne #}
                <div class="breadcrumb__list breadcrumb__list-chapter">
                    {# Contiendra la liste des chapitres #}
                    {# Le bouton d'ajout de chapitre en fin de ligne #}
                    <div style="display:none;" class="add_chapter add_element breadcrumb__item">+</div>
                </div>
            </div>

            {# Ligne des scene #}
            <div class="breadcrumb__line scene__line">
                {# le tag svg en début de ligne  #}
                <img class="breadcrumb__svg" src="{{ asset('./build/svg/scene.svg') }}">
                {# toutes les scènes sur une ligne #}
                <div class="breadcrumb__list breadcrumb__list-scene">
                    {# Contiendra la liste des scènes #}
                    {# Le bouton d'ajout de scene en fin de ligne #}
                    <div style="display:none;" class="add_scene add_element breadcrumb__item">+</div>
                </div>
            </div>

            {# Ligne du fil d'ariane des cellules #}
            <div class="breadcrumb__line cell__line">
                {# le tag svg en début de ligne  #}
                <img class="breadcrumb__svg" src="{{ asset('./build/svg/cell.svg') }}">
                {# toutes les cellules sur une ligne #}
                <div class="breadcrumb__list breadcrumb__list-cell">
                    {# Contiendra la liste des cellules en version miniature #}
                    {# Le bouton d'ajout de scene en fin de ligne #}
                    <div style="display:none;" class="add_cell add_element breadcrumb__item">+</div>
                </div>
            </div>

        <div> {# Fin du breadcrumb #}

    </section>

    <section class="section-horizontal-reader">
        {# Lecture de cellules #}
            <div class="card__list">
                <div class="card__wrapper">
                    {# Contiendra les cellules #}
                </div>
            </div>
    </section>

{% endblock %}
